@import url(darkmode.css);

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: var(--collapsible-button);
    color: var(--collapsible-button-text);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin-left: 15px;
    width: 40%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: var(--collapsible-active);
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--collapsible-bg);
    transition: max-height 0.3s ease-out;
    width:38%;
    margin-left: 15px;
  }
  